<div class="hero-unit well well-large">
  <h1>Welcome to our Startup Ecosystem!</h1>
</div>
<h4>
  <%= link_to "New Founder Checklist", checklist_path %>
</h4>
<p>
  A step-by-step guide for getting the most out of our startup community.
</p>
<h4>
  <%= link_to "Get in the Loop", news_path %>
</h4>
<p>
  A list of Houston entrepreneurship news sites, mailing lists, and social media accounts.
</p>
<h4>
  <%= link_to "Meetups and Events", events_path %>
</h4>
<p>
  A list of startup event calendars and the most established events, as well as guides for getting the most out of these events.
</p>
<h4>
  <%= link_to "Browse Community", community_path %>
</h4>
<p>
  A list of key organizations and individuals who support startups, from incubators to designers.
</p>
<h4>
  <%= link_to "Virtual Incubator", incubator_path %>
</h4>
<p>
  An live business model development workspace open to all Houston entrepreneurs, powered by <a href='https://www.ziqquforge.com/'>Ziqqu.</a>
</p>