<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Houston Founder Guide", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Checklist for New Founders", checklist_path %></li>
        <li><%= link_to "Get in the Loop", news_path %></li>
        <li><%= link_to "Meetups and Events", events_path %></li>
        <li><%= link_to "Browse Community", community_path %></li>
        <li><%= link_to "Virtual Incubator", incubator_path %></li>
      </ul>
    </nav>
  </div> 
</header>